# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/
.env/

# OS
.DS_Store
Thumbs.db

# Dataset folders (avoid uploading huge data)
data/raw/
data/processed/

# Outputs (optional)
outputs/
